body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url(../images/Nature.jpg);
}

.music-container {
  width: 200px;
}

.music-container {
  height: 4px;
  width: 100px;
}
.control-buttons {
  margin-top: 50px;
  align-items: center;
  margin-left: 60px;
}

.wrappper {
  padding: 20px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
